<?xml version="1.0" encoding="UTF-8"?>

<Configuration monitorInterval="60">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/noticeboard.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout> 
                <Pattern>%d %-5p (%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
	
    <Loggers>
        <Logger name="driverway.noticeboard_m" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="driverway.weatherfinder" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="driverway.googlecalendar" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="controllers" level="trace" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        		
        <Root level="trace">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
